// @media (max-width: 767px) {
//   .carousel-inner .carousel-item > div {
//     display: none;
//   }
//   .carousel-inner .carousel-item > div:first-child {
//     display: block;
//     width: 100%;
//   }
// }

// .carousel-inner .carousel-item.active,
// .carousel-inner .carousel-item-next,
// .carousel-inner .carousel-item-prev {
//   display: flex;
// }

.carousel-control-next-icon, .carousel-control-prev-icon {
  background-image: none;
}

.carousel-control-prev, .carousel-control-next {
  width: 10px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  color: $c-primary;
  font-weight: bold;
  font-size: $-xl;
}

/* medium and up screens */
@media (min-width: 768px) {

  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }

  .carousel-inner .carousel-item-start.active, 
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}

.cards-fix {
  padding-top: 15px;
}

.cards-fix {
  margin-left: 15px;
  margin-right: 15px;
}