.c-primary {
  color: $c-primary !important;
}

.c-secondary {
  color: $c-secondary !important;
}

.c-tertiary {
  color: $c-tertiary !important;
}

.c-white {
  color: white;
}

.c-whitegray {
  color: #999999;
}

.b-white {
  background-color: white;
}

.b-primary {
  background-color: $c-primary;
}

.b-secondary {
  background-color: $c-secondary;
}

.b-lowgray {
  background-color: #f1f1f1;
}

.b-lowergray {
  background-color: #f6f6f6;
}

.b-black {
  background-color: #000;
}

.b-white-op {
  background-color: rgba($color: #fff, $alpha: 0.8);
}