@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

.animation {
  animation: counter 3s forwards ease-in-out;
  counter-reset: num var(--num);
  font-weight: bold;
  color: #587008;
  font-size: $-xl4;
  margin: 0;
}

.first-count::after,
.second-count::after {
  content: counter(num);
}

.first-count { --num:6000; }
.second-count { --num:1800; }

.count-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 991.98px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 15px;
    .text {
      font-size: $-xl !important;
      margin-left: 0;
      line-height: 1.2;
    }
  }
  .text {
    margin-left: 5px;
    color: #587008;
    font-size: $-xl4;
    font-weight: bold;
  }
}

@keyframes counter {
  from {
    --num: 0;
  }
}
