.hero {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  .hero-style {
    background-image: url("/src/assets/pool-triangular.webp");
    background-size: cover;
    min-height: 500px;
    background-position: center; 
    @media (max-width: 991.98px) {
      min-height: 400px;
    }
  }
  
  .hero-style2 {
    // background-image: url("/src/assets/congresso2.png");
    background-size: cover;
    min-height: 450px;
    background-position: center; 
  }
  
  .hero-style3 {
    // background-blend-mode: screen;
    background-image: url("/src/assets/bg-paralax.webp");
    background-size: cover;
    min-height: 500px;
    background-position: center; 
    background-attachment: fixed;
  }
  
  .hero-gradient {
    background: linear-gradient(180deg, rgba(0,0,0,0.7) 0%, rgba(255,255,255,0) 100%);
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  
  .hero-gradient--gray {
    background: rgba(0, 0, 0, 0.55);
  }
  
  .hero-gradient--purplegreen {
    background: linear-gradient(180deg, #8CB57E 0%, #7D94C1 100%);
    mix-blend-mode: multiply;
  }
  
  .hero-content {
    z-index: 2;
    margin: auto;
    width: 100%;
  }
  
  .hero-caption {
    h1, p {
      margin-bottom: 15px;
      color: #fff;
      text-shadow: 2px 2px 2px #000;
    }
  }

  .hero-border {
    border-bottom: 4px solid $c-primary;
  }
  
  .hero-paralax {
    height: 630px;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .hero-paralax--background {
    background-image: url('/src/assets/bg-paralax.webp');
  }