.link {
	transition: $transition;
  text-decoration: none;
		&:hover {
			text-decoration: none;
		}
}

.link-footer {
  color: #fff;
  &:hover {
    color: $c-secondary;
  }
}

.link-nav {
  text-transform: uppercase;
  color: #333;
	font-size: 16px;
	padding: 10px 15px;
	font-weight: 500;
  &:hover {
    color: $c-secondary;
  }
}

.link-facebook,
.link-whatsapp,
.link-youtube,
.link-instagram {
  color: $c-primary;
}

.link-facebook {
  &:hover {
    color: $facebook;
  }
}

.link-whatsapp {
  &:hover {
    color: $whatsapp;
  }
}

.link-youtube {
  &:hover {
    color: $youtube;
  }
}

.link-instagram {
  &:hover {
    color: $instagram;
  }
}

.link-vz {
  color: orange !important;
  &:hover {
    color: $c-secondary;
  }
}

.link-primary {
  color: $c-primary !important;
  &:hover {
    color: $c-secondary;
  }
}

.link-tertiary {
  color: $c-tertiary;
  &:hover {
    color: $c-primary;
  }
}

.link-white {
  color: white;
  &:hover {
    color: #cccccc;
  }
}

.link-card {
  figure {
    background: $c-secondary;
    border-radius: 4px;
    img {
      opacity: 1;
      transition: .3s ease-in-out;
    }
    &:hover img {
      opacity: .5;
    }
  }
}

.active {
  font-weight: bold;
  border-bottom: 4px solid $c-secondary;
  color: $c-primary;
}

.btn-tertiaryTheme {
  background-color: adjust-hue($c-primary, 5deg) !important;
  border-color: adjust-hue(#000, 5deg) !important;
  border: 1px solid !important;
  color: #fff !important;
  transition: $transition;
  border-radius: 0 !important;
  display: inline-flex;
  &:hover {
    color: #fff;
    background-color: $c-tertiary !important;
    border-color: adjust-hue($c-secondary, 10deg) !important;
  }
}

