.nav-global {
  background-color: #fff;
  border-bottom: 1px solid #ededed;
  position: sticky;
  top: 0;
  z-index: 3;
  .logo {
    max-width: 264px;
  }

  @media (max-width: 575.98px) {
    .logo {
      max-width: 200px;
    }
  }
}

.nav-info {
  display: flex;
  align-items: center;

  .left {
    display: flex;
    align-items: center;
    margin-right: 60px;
  }
  .right {

  }
}

.navbar-power {
  .collapse-power {
    background-color: $c-secondary;
    padding: 1rem;
  }
  .link-power {
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    padding: 0.5rem;
    margin-right: 1rem;
    border: 1px dotted #ccc;
    &:last-child {
      margin-right: 0;
    }
  }
  .contact-power {
    padding: 1rem;
    display: flex;
    min-width: 30%;
    background: rgb(61,101,13);
    background: linear-gradient(180deg, rgba(61,101,13,1) 0%, rgba(100,177,6,1) 50%, rgba(82,149,0,1) 100%);
  }
}