.nav-global {
  background-color: #fff;
  border-bottom: 1px solid #ededed;
  position: sticky;
  top: 0;
  z-index: 3;
  .logo {
    max-width: 264px;
  }

  @media (max-width: 575.98px) {
    .logo {
      max-width: 200px;
    }
  }
}

.nav-info {
  display: flex;
  align-items: center;

  .left {
    display: none;
    @media (min-width: 1200px) {
      display: flex;
      align-items: center;
      margin-right: 60px;
    }
  }
  .right {
    display: none;
    @media (min-width: 992px) {
      display: flex;
    }
  }
}

.navbar-header.scrolling-on {
  .container {
    display: flex;
  }
  .nav-info {
    display: none;
  }
  .fixed-nav {
    @media (min-width: 992px) {
      position: relative;
      margin-top: 0;
      z-index: 0;
    }
  }
  .control-header {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.navbar-header {
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: #fff;
  border-bottom: 1px solid #f4f4f4;
  @media (max-width: 991.98px) {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar {
    @media (max-width: 991.98px) {
      position: inherit;
    }
  }
  .nav-container {
    @media (max-width: 991.98px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .fixed-nav {
    @media (min-width: 992px) {
      position: absolute;
      top: 0;
      margin-top: 96px;
      transition: all 700ms;
      z-index: 1;
      /* bottom: 10%; */
      width: calc(100% - var(--bs-gutter-x));
    }
  }
  .collapse-header {
    @media (max-width: 991.98px) {
      position: absolute;
      left: 0px;
      right: 0px;
      width: calc(100% - var(--bs-gutter-x));
      top: 66px;
      padding: 0;
      margin: 0 auto;
    }
    background-color: $c-secondary;
    padding: 1rem;
  }
  .link-header {
    @media (min-width: 992px) {
      margin-right: 1rem;
    }
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    padding: 0.5rem;
    border: 1px dotted #ccc;
    &:last-child {
      margin-right: 0;
    }
  }
  .contact-header {
    display: none;
    @media (min-width: 992px) {
      padding: 1rem;
      display: flex;
      min-width: 30%;
      background: rgb(61,101,13);
      background: linear-gradient(180deg, rgba(61,101,13,1) 0%, rgba(100,177,6,1) 50%, rgba(82,149,0,1) 100%);
    }
  }
  .control-header {
    transition: all 700ms;
    @media (min-width: 992px) {
      margin-bottom: 30px;
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
}