.Triad {
  display: flex;
  align-items: center;

  > div {
    display: flex;
  }

  > :last-child,
  > :first-child {
    flex: 1 1 0%;
  }

  > :last-child {
    justify-content: flex-end;
  }
}

// .Triad--stackable {
//   @include media-breakpoint-down($checkpoint-down) {
//     flex-direction: column;
//     align-items: flex-start;

//     // @ie11: O IE11 não lida consistentemente qdo os child são [grow:1, basis:0%] e o parent
//     // não tem a dimensão no sentido do eixo definida (altura para column, width para row).
//     > :last-child,
//     > :first-child {
//       flex-basis: auto;
//     }
//   }
// }
