// projetc components
@import "components/variables";
@import "components/sizes";
@import "components/rail";
@import "components/triad";
@import "components/nav-global";
@import "components/hero";
@import "components/colors";
// @import "components/cards";
@import "components/titles";
@import "components/link";
// @import "components/embed";
@import "components/media-flex";
@import "components/counter-animation";
// @import "components/iconbox";
// @import "components/carousel-box";
@import "components/galeria";
@import "components/iplay";
@import "components/navbar-toggle";
@import "components/whatsapp";
@import "components/wrapper-cookie";

// default page styles
body {
  font-family: Roboto, 'Montserrat', sans-serif, system-ui, -apple-system, "Segoe UI", "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #555;
}

iframe {
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5 {
  color: $c-secondary;
}

section {
  padding-top: 30px;
  padding-bottom: 30px;
  @media (max-width: 991.98px) {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.servicos {
  background-image: url('/src/assets/logo-bg-content.png');
  background-repeat: no-repeat;
  background-position: right center;
  background-blend-mode: color-burn;
  background-color: rgba(248, 248, 248, 0.9);
}

.photo-gallery {
  background-image: url('/src/assets/bg-fdarkflowers.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-width: 992px) {
  .copyright {
    &:last-child {
      text-align: end;
    }
  }
}

@media (max-width: 991.98px) {
  .copyright {
    text-align: center;
  }
}

.img-fluid {
  width: 100%;
}