// projetc components
@import "components/variables";
@import "components/sizes";
@import "components/rail";
@import "components/triad";
@import "components/nav-global";
@import "components/hero";
@import "components/colors";
@import "components/cards";
@import "components/titles";
@import "components/link";
@import "components/embed";
@import "components/media-flex";
@import "components/counter-animation";
@import "components/iconbox";
@import "components/carousel-box";
@import "components/galeria";
@import "components/iplay";


// default page styles
body {
  font-family: Roboto, 'Montserrat', sans-serif, system-ui, -apple-system, "Segoe UI", "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #555;
}

iframe {
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5 {
  color: $c-secondary;
}

section {
  padding-top: 30px;
  padding-bottom: 30px;
  @media (max-width: 991.98px) {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.servicos {
  background-image: url('/src/assets/logo-bg-content.png');
  background-repeat: no-repeat;
  background-position: right center;
  background-blend-mode: color-burn;
  background-color: rgba(248, 248, 248, 0.9);
}

.photo-gallery {
  background-image: url('/src/assets/bg-fdarkflowers.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

// .myUL {
//   display: inline-block;
//   --icon-space: 1.3em;
//   text-align: left;
//   list-style: none;
//   li:before {
//     content: "";
//     background-image: url('/src/assets/icons/checker.svg');
//     background-repeat: no-repeat;
//     background-position: center bottom;
//     background-size: 15px;
//     display: inline-block;
//     margin-left: calc(var(--icon-space) * -1);
//     width: 20px;
//     height: 20px;
//   }
// }

// .becarousel {
//   display: flex;
//   .item {
//     width: 25%;
//     display: flex;
//     justify-content: space-between;
//   }
// }

@media (min-width: 992px) {
  .copyright {
    &:last-child {
      text-align: end;
    }
  }
}

@media (max-width: 991.98px) {
  .copyright {
    text-align: center;
  }
}