extends /layouts/template.pug
include ../components/counter.pug
block main
  header.navbar-header
    include ../sections/header.pug
    a.whatsapp-float.link.fade-in-element(href="https://wa.me/5561999330061" title="Fale conosco")
      i.fa-brands.fa-whatsapp
  .hero.hero-style.hero-border
    include ../components/hero.pug
  section#quemsomos.quemsomos
    include ../sections/quemsomos.pug
  section#servicos.servicos
    include ../sections/servicos.pug
  section.b-lowgray
    +count('first-count','Clientes satisfeitos')
  section
    include ../sections/destaques.pug
  section#galeria.photo-gallery
    include ../sections/galeria.pug
  section.b-lowgray
    +count('second-count','Parcerias no ramo de paisagismo')
  include ../sections/booking.pug
  iframe#contatos.page-section.scroll-lock.locked(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25814.539617873754!2d-47.790432185832465!3d-15.890500244023155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935a21da7ae5063d%3A0xf53e14d38f8e2934!2sTriangular%20Paisagismo!5e0!3m2!1spt-BR!2sbr!4v1720716604820!5m2!1spt-BR!2sbr', width='100%', height='400', frameborder='0', style='border:0', allowfullscreen='', title="Localização da Empresa")
  a.btn.d-block.btn-success.rounded-0.text-xl2.p-4.fw-bold(href="https://maps.app.goo.gl/Szw4JigFfpsdiqJT8" title="Encontre a Rota") 
    .iplay
      .iplay-item
        span.iplay-hover
          span.iplay-icon
            i.fa-sharp.fa-solid.fa-location-dot

    | &nbsp; CLIQUE AQUI PARA SEGUIR A ROTA
  footer.photo-gallery
    include ../sections/footer.pug

