section.hero.hero-style.hero-border
  .hero-content
    .container
      .hero-caption
        p.p-2.b-white-op.text-xl2.c-secondary.d-inline-block
          | Clínica Médica Integrativa em <span class="break-line"><b>Paranoá | Sobradinho | Estrutural</b></span>
        h1.p-2.b-white-op.text-xl6.c-secondary.d-inline-block
          strong Não deixe sua saúde para depois! Agende agora sua consulta e exames por um preço que você pode pagar.
        p.p-2.b-white-op.text-xl2.c-secondary.d-inline-block
          | Confie em quem já garantiu a qualidade de vida de mais  de <b>6.000 pacientes</b>
      a.btn.btn-primaryTheme.btn-lg(href="https://wa.me/5561999181888?text=Olá! Encontrei a Clínica pelo Google e gostaria de realizar um agendamento." title="Agende sua visita" target='_blank') 
        img(src="src/assets/icons/zap-icon.svg", alt="Whatsapp", width="25px", heigh="25px")
        | &nbsp; Agendar agora