.hero-gradient.d-flex
  .hero-content
    .container
      .hero-caption
        h1.py-2.text-xl6
          strong Aprimore sua casa com um paisagismo de excelência
        p.py-2.text-xl2
          | Confie em quem já garantiu a qualidade visual de dezenas de clientes no Distrito Federal.
      a.btn.btn-tertiaryTheme.btn-lg(href="https://wa.me/5561999181888?text=Olá! Encontrei a Clínica pelo Google e gostaria de realizar um agendamento." title="Agende sua visita" target='_blank') 
        .fa-brands.fa-whatsapp
        | &nbsp; Agendar agora