nav.fixed-nav
  .navbar.navbar-expand-lg

    button.navbar-toggle.collapsed.x(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavAltMarkup' aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label='Toggle navigation')
      span.icon-bar
      span.icon-bar
      span.icon-bar

    #navbarNavAltMarkup.collapse.navbar-collapse.collapse-header
      .navbar-nav
        a.link.link-header(aria-current='page' href='#') Home
        a.link.link-header(href='#quemsomos') Quem somos
        a.link.link-header(href='#servicos') Serviços
        a.link.link-header(href='#galeria') Galeria
    
    .contact-header
      a.link.link-header.w-100(href='tel:61982301562')
        i.fa-solid.fa-phone &nbsp;
        | +55 (61) 98230-1562