a.link.link-facebook.me-5(href="https://www.facebook.com/profile.php?id=61560880230502" title="Facebook Triangular" target="_blank")
  span.fa-brands.fa-facebook
a.link.link-instagram.me-5(href="https://www.instagram.com/triangularpaisagismo" title="Instagram Triangular" target="_blank")
  span.fa-brands.fa-square-instagram
a.link.link-youtube.me-5(href="https://www.youtube.com/@TriangularPaisagismo" title="Youtube Triangular" target="_blank")
  span.fa-brands.fa-square-youtube
a.link.link-whatsapp(href="https://wa.me/5561999330061" title="Whatsapp Triangular" target="_blank")
  span.fa-brands.fa-square-whatsapp