.hero-paralax.hero-paralax--background
  .hero-gradient.hero-gradient--gray
    .d-flex.justify-content-center.align-items-center.h-100
      figure.text-center
        img.p-4.img-fluid.lazyload(data-src="src/assets/logo-flat.svg", alt="Logo Triangular", width="400px")
