.container
  .row 
    .col-12
      .titles.text-center
        h2.c-secondary De olho na 
          span Triangular
    .col-lg-3.col-md-6.col-sm-6.mainItemSpacer
      iframe.rounded(width='100%' height='560px' src='https://www.youtube.com/embed/sJy_fGQYUUE?si=1WAvh1cKSkI6cAsP' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share' allowfullscreen='')
    .col-lg-3.col-md-6.col-sm-6.mainItemSpacer
      iframe.rounded(width='100%' height='560px' src='https://www.youtube.com/embed/dW9sZV35PIQ?si=i_pJBzZNmwuKHr_Y' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share' allowfullscreen='')
    .col-lg-3.col-md-6.col-sm-6.mainItemSpacer
      iframe.rounded(width='100%' height='560px' src='https://www.youtube.com/embed/xBGdeDTVJvg?si=XNeLKrfFJ9F4ZOtg' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share' allowfullscreen='')
    .col-lg-3.col-md-6.col-sm-6.mainItemSpacer
      iframe.rounded(width='100%' height='560px' src='https://www.youtube.com/embed/_M_4P0SCCBc?si=ptLPLBmFvyDym7IC' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share' allowfullscreen='')
    .col-12 
      .mt-4.text-center
        a.btn.btn-danger(href="#" title="Nosso youtube") 
          span.fa-brands.fa-youtube 
          |  Nosso youtube