.container 
  .row 
    .col-12 
      .d-flex.justify-content-center.flex-column.align-items-center.py-4.text-center
        .py-3
          img(src="src/assets/logo-primaria.svg", alt="Logo Long Life", width="240px", heigh="160px")
        .pt-3 
          p: a.link.link-secondary(href="mailto:contatos@trinagularpaisagismo.com.br" title="contatos@trinagularpaisagismo.com.br")
            span.fa-solid.fa-envelope 
            |  contatos@trinagularpaisagismo.com.br
          p: a.link.link-secondary(href="tel:6130494448" title="6130494448")
            span.fa-solid.fa-phone 
            |  61 3049-4448
          p: a.link.link-secondary(href="#" title="Localização")
            span.fa-solid.fa-location-dot
            |  Rua do Caic - São Sebastião Residencial Oeste - São Sebastião, Brasília - DF, 71691-152
      .py-3.text-xl.border-top.mb-1.border-black.text-center
        include ../components/social.pug
.container-fluid.b-black.c-whitegray.py-2
  .row.text-sm 
    .col-md-6.copyright
      small Copyright © 2024 | Todos os direitos reservados https://www.triangularpaisagismo.com.br/
    .col-md-6.copyright
      small Credit pictures from <a class="link link-vz" href="#" data-bs-toggle='modal' data-bs-target='#freepikModal' title="Créditos fotografias">freepik.com</a> | Developed by <a class="link link-vz" href="https://github.com/viruzvz" target="_blank" title="Link desenvolvedor">Carlos_vz</a>
