.container 
  .row 
    .col-12 
      .d-flex.justify-content-center.flex-column.align-items-center.py-4.text-center
        .py-3
          img(src="src/assets/logo-primaria.svg", alt="Logo Long Life", width="240px", heigh="160px")
        .py-3.text-xl
          a.mx-2.link.link-facebook(href="#", title="Facebook")
            
          a.mx-2.link.link-instagram(href="https://www.instagram.com/clinicalonglife/", title="Instagram", target="_blank")
            
        .pt-3 
          p: a.link.link-secondary(href="mailto:longlifedf@gmail.com" title="longlifedf@gmail.com")
            
            |  longlifedf@gmail.com
          p
            
            |  61 3049-4448
.container-fluid.b-black.c-whitegray.py-2
  .row.text-sm 
    .col-md-6.copyright
      small Copyright © 2024 | Todos os direitos reservados https://www.longlife.com.br/
    .col-md-6.copyright
      small Credit pictures from <a class="link link-vz" href="#" data-bs-toggle='modal' data-bs-target='#freepikModal' title="Créditos fotografias">freepik.com</a> | Developed by <a class="link link-vz" href="https://github.com/viruzvz" target="_blank" title="Link desenvolvedor">Carlos_vz</a>
