.container.position-relative
  .row
    .Triad.control-header
      div
        figure.m-0
          img(src="src/assets/logo-primaria.svg", alt="Logo triangular")
      div.nav-info
        .left
          span.text-xl4.fa-solid.fa-clock.me-2.c-primary
          div.c-secondary
            .fw-bold.text-sm SEG A SEX DE 07H ÁS 19H - SÁB 09H ÀS 17H
            .text-sm.text-end.lh-sm fechado aos domingos
        .right.text-xl2.c-primary
          include ../components/social.pug

    include ../components/nav.pug

