.hero.hero-style3
  .hero-content
    .container
      .hero-caption.d-flex.justify-content-center
        img.lazyload(data-src="src/assets/logo-flat.svg", alt="Logo Triangular Paisagismo", width="240", height="160")