.container
	.row
		article.col-6
			h2.title Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam, dicta tenetur et placeat nisi tempora laborum voluptatum.
			p.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione aperiam, perspiciatis animi, nemo voluptatem, quae facilis laboriosam nesciunt obcaecati modi quo fuga. Facilis minima non nemo eos. Repudiandae, minus porro?
		article.col-6
			.row 
				.col-6
					.card(style='width: 18rem;')
						img.card-img-top(src='...' alt='...')
						.card-body
							h5.card-title Card with stretched link
							p.card-text
								| Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
							a.btn.btn-primary.stretched-link(href='#') Go somewhere 
				.col-6
					.card(style='width: 18rem;')
						img.card-img-top(src='...' alt='...')
						.card-body
							h5.card-title Card with stretched link
							p.card-text
								| Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
							a.btn.btn-primary.stretched-link(href='#') Go somewhere