.container
	.row
		article.col-lg-6.col-md-12
			h2.c-secondary.text-xl5 Terceira geração de paisagista que mostra que o amor pelas plantas vem de berço!
			p Fornecemos manutenção contínua de propriedades, que inclui corte de grama, fertilização, limpeza de primavera e outono, remoção de palha, aeração, semeadura, cobertura morta, afiação, aplicação de herbicida, cuidados com a saúde das plantas, remoção de neve, poda e cuidado e remoção de árvores. Nós da Triangular Paisagismo buscamos sempre inovar e dar vida ao seu sonho de ter um belo jardim, seja ele feito do zero por nossa equipe, seja para fazer manutenções em geral!
		article.col-lg-6.col-md-12
			.row 
				.col-6
					.card.border-0.mb-3
						img.img-fluid.rounded-0.card-img-top.mb-1(src='src/assets/projeto.webp' alt='Projeto e execução')
						.card-body.p-0
							h3.text-lg.c-secondary Projeto e execução
							p.card-text
								| Os problemas ambientais resultam quando plantas exóticas são colocadas na paisagem que requerem ampla adaptação do clima para permitir a sua sobrevivência. Reduzimos enormemente esta adaptação forçada e conservamos os recursos naturais.
 
				.col-6
					.card.border-0.mb-3
						img.img-fluid.rounded-0.card-img-top.mb-1(src='src/assets/jardinagem.webp' alt='Jardinagem e manutenção')
						.card-body.p-0
							h3.text-lg.c-secondary Jardinagem e manutenção
							p.card-text
								| Oferecemos uma gama completa de serviços de paisagismo, todos projetados para realçar a beleza de sua casa e propriedade. Como empreiteiro de paisagismo licenciado e treinado em cuidado profissional de gramados.
