.container
	.row 
		.col-12.titles
			span
			h2 Especialidades em Destaque
			span
		.col-6
			mixin media(title, text)
				.d-flex.position-relative
					img.flex-shrink-0.me-3(src='src/assets/icon-triang.svg' alt=title)
					div
						h5.mt-0= title
						p
							= text
						a.stretched-link(href='#') Go somewhere
			+media('Titulo 1','Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo blanditiis facere perferendis consectetur inventore dicta enim numquam')
			+media('Titulo 2','Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo blanditiis facere perferendis consectetur inventore dicta enim numquam')
		.col-6
			+media('Titulo 3','Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo blanditiis facere perferendis consectetur inventore dicta enim numquam')
			+media('Titulo 4','Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo blanditiis facere perferendis consectetur inventore dicta enim numquam')