.container
  .row
    .col-12
      .titles.text-center
        h2.c-secondary Escolha nossos 
          span Serviços
    .col-lg-12
      mixin media(title, text)
        .d-flex.position-relative.media-style
          img.flex-shrink-0.me-3.lazyload(src='src/assets/icon-triang.svg' alt=title width='48' height='48')
          div.c-secondary
            h3.mt-0= title
            p.mb-0
            = text
      +media('Jardim Vertical','Nós, da Triangular paisagismo, costumamos dizer que nenhum móvel ou item de decoração consegue competir com a beleza da própria natureza. Nossos projetos criativos e sustentáveis transformam paredes vazias em belas obras-primas naturais. Para nossos jardins verticais serem bem sucedidos é preciso muita técnica, desde o método construtivo, drenagem, sistema de irrigação, substrato, impermeabilização da parede a cor dos vasos. Escolhemos somente as melhores plantas, pensando tanto na beleza, como na adaptação do clima e do solo. Com a experiência de nossa equipe podemos transformar várias paredes no lugar mais incrível da sua residência.  Prezamos pelo cuidado em cada detalhe. Temos uma vasta referência de clientes satisfeitos, e seguimos cumprindo nossa missão. Descubra como um jardim vertical pode revitalizar seu espaço. Solicite uma consultoria hoje mesmo.')
      +media('Corte e Poda de Árvores','Fazer uma boa poda é um trabalho minucioso que exige técnica e bom equipamento. Ela é importante para prevenir doenças e favorecer o desenvolvimento de árvores, evitando possíveis acidentes locais, além de melhorar esteticamente o visual. Nossa empresa tem uma equipe treinada que trabalha com segurança e atenção, fazendo cortes de pequeno e alto risco.  Cortamos e removemos árvores que são plantadas em locais indevidos e que oferecem riscos, ou que estão doentes e mortas. Esse tipo de trabalho pode causar inúmeros acidentes, por isso, fique atento! Procure sempre uma empresa com os recursos necessários, pois o dano de um corte errado pode ser irreversível. ')
    .col-lg-12
      +media('Manutenção','A Triangular Paisagismo dispõe de mão de obra especializada de nossos jardineiros sob a supervisão técnica de nosso paisagista. Somos uma equipe com olhar atento e profundo nas necessidades do jardim de cada cliente, levando uma evolução constante para cada espaço. Prezamos opelos detalhes, cuidado e carinho. ')
      +media('Limpeza de Terreno','Se o seu terreno não estiver sendo utilizado por muito tempo, provavelmente você terá braquiárias e ervas daninhas, sendo necessário o uso de equipamentos adequados. A limpeza de roçagem proporciona cortar ou aparar o mato muito baixo, rente ao chão, com finalidade de remover capins e matos em geral, trazendo limpeza para o local. Na Triangular Paisagismo, além dos serviços com roçadeiras, também temos a opção de uma limpeza mais profunda, com maquinário pesado, como BobCat, retroescavadeira e pá mecânica, retirando restos de raízes, tocos, vegetações, entulhos e outros materiais impeditivos.Entre em contato e descubra como podemos ajudar a transformar seu terreno!')
    .col-12 
      .mt-4.text-center
        a.btn.btn-success.rounded-0(href="#" title="Saiba mais") 
          span.fa-brands.fa-whatsapp
          |  Saiba mais